<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE events SYSTEM "events.dtd">

<events>
    <actions>
        <action id="ignore" type="ignore" />

        <action id="eatCoffee" type="eat">
            <effects>
                <eatEffect caffein="20" />
            </effects>
        </action>

        <action id="dangerousIgnore" type="ignore">
            <effects>
                <dieEffect probability="0.7"/>
            </effects>
        </action>

        <action id="dangerousFlee" type="flee">
            <effects>
                <dieEffect probability="0.3" />
                <runEffect />
                <stressEffect probability="0.5" />
            </effects>
        </action>

        <action id="dangerousEat" type="eat">
            <effects>
                <dieEffect probability="0.7" />
                <stressEffect probability="0.6" />
                <eatEffect />
            </effects>
        </action>

        <action id="stupidFlirt" type="flirt">
            <effects>
                <dieEffect probability="0.8" />
            </effects>
        </action>

        <action id="dangerousFight" type="fight">
            <effects>
                <dieEffect probability="0.4" />
                <stressEffect probability="0.8" />
            </effects>
        </action>
    </actions>

    <event id="bear">
        <description>un ours !</description>
        <eventActions>
            <eventAction ref="dangerousIgnore" />
            <eventAction ref="dangerousFlee" />
            <eventAction ref="dangerousEat" />
            <eventAction ref="stupidFlirt" />
            <eventAction ref="dangerousFight" />
        </eventActions>
    </event>

    <event id="coffee">
        <description>une tasse de café.</description>
        <eventActions>
            <eventAction ref="ignore"/>
            <eventAction ref="eatCoffee" />
        </eventActions>
    </event>
</events>